<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>The Daily Grind</title>
  </head>
  <body>
    <div align="right">
      <h3>Hello, <span th:text="${user.getUsername()}"></span></h3>
      <a href="/logout">Logout</a><br />
      <a href="/new-calendar-event">Create New Event</a><br />
      <a href="/new-diary-entry">Create New Diary Entry</a>
    </div>
    <h1>The Daily Grind</h1>
    <div align="center">
      <form th:action="@{/search}" th:object="${searchQueryDto}" th:method="GET">
        <label>Search : </label>
        <input type="text" placeholder="Search for user..." th:field="*{query}" />
        <button type="submit" class="button">Search</button>
      </form>
      <form th:action="@{/month-year}" th:object="${monthYearDto}" th:method="GET">
        <label>Month and Year : </label>
        <input type="month" th:field="*{monthYear}" />
        <button type="submit" class="button">Search</button>
      </form>
    </div>
    <table align="center">
      <tr>
        <td>
          <div align="center">
            <h2>My Upcoming Events</h2>
            <div th:each="event: ${events_list_upcoming}" align="center">
              <h3 th:text="${event.getTitle()}"></h3>
              <table>
                <tr>
                  <td>Organizer</td>
                  <td th:text="${event.getEventOrganizer().getUsername()}"></td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td th:text="${event.getDescription()}"></td>
                </tr>
                <tr>
                  <td>Date and Time</td>
                  <td th:text="${#temporals.format(event.getDateOfEvent(), 'MM-dd-yyyy hh:mm a', 'Etc/UTC')}"></td>
                </tr>
                <tr>
                  <td></td>
                  <td th:text="${event.isPublic() ? 'Public Event' : 'Private Event'}"></td>
                </tr>
                <tr>
                  <td></td>
                  <td th:text="${event.isComplete() ? 'Event Finished' : 'Event Upcoming'}"></td>
                </tr>
              </table>
                            <button th:attr="onclick=|window.location='/edit-calendar-event/${event.getId()}'|">
                Edit
              </button>
              <form th:action="@{/delete-calendar-event/{id}/(id=${event.getId()})}" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="submit" value="Delete">
              </form>
            </div>
          </div>
        </td>
        
        <td>
          <div align="center">
            <h2>This Month's Events</h2>
            <div th:each="event: ${events_list_between}" align="center">
              <h3 th:text="${event.getTitle()}"></h3>
              <table>
                <tr>
                  <td>Organizer</td>
                  <td th:text="${event.getEventOrganizer().getUsername()}"></td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td th:text="${event.getDescription()}"></td>
                </tr>
                <tr>
                  <td>Date and Time</td>
                  <td th:text="${#temporals.format(event.getDateOfEvent(), 'MM-dd-yyyy hh:mm a', 'Etc/UTC')}"></td>
                </tr>
                <tr>
                  <td></td>
                  <td th:text="${event.isPublic() ? 'Public Event' : 'Private Event'}"></td>
                </tr>
                <tr>
                  <td></td>
                  <td th:text="${event.isComplete() ? 'Event Finished' : 'Event Upcoming'}"></td>
                </tr>
              </table>
            </div>
          </div>
        </td>
      </tr>
      
      <tr>
        <td>
          <div align="center">
            <h2>My Recent Diary</h2>
            <div th:each="entry: ${entry_list_recent}" align="center">
              <h3 th:text="${entry.getTitle()}"></h3>
              Date: <span th:text="${#temporals.format(entry.getDateOfEntry(), 'MM/dd/yyyy', 'Etc/UTC')}"></span><br/>
              <p th:text="${entry.getEntry()}"></p>
              <button th:attr="onclick=|window.location='/edit-diary-entry/${entry.getId()}'|">
                Edit
              </button>
              <form th:action="@{/delete-diary-entry/{id}/(id=${entry.getId()})}" method="POST">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="submit" value="Delete">
              </form>
            </div>
          </div>
        </td>
        
        <td>
          <div align="center">
            <h2>This Month's Diary Entries</h2>
            <div th:each="entry: ${entry_list_between}" align="center">
              <h3 th:text="${entry.getTitle()}"></h3>
              Date: <span th:text="${#temporals.format(entry.getDateOfEntry(), 'MM/dd/yyyy', 'Etc/UTC')}"></span><br/>
              <p th:text="${entry.getEntry()}"></p>
            </div>
          </div>
        </td>
      </tr>
    </table>
    
  </body>
</html>