<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>The Daily Grind</title>
  </head>
  <body>
  	<div align="right">
  	  <a href="/home">Return Home</a>
  	  <span> | </span>
  	  <a th:href="@{/user/{userId}(userId=${user.getId()})}">Go to User Page</a>
  	  <span> | </span>
  	  <a href="/logout">Logout</a>
  	</div>
    <h1 align="center" th:text="${heading}"></h1>
    <form th:action="@{/month-year}" th:object="${monthYearDto}" th:method="GET">
      <div align="center" th:if="${#fields.hasErrors('*')}">
        <p th:each="err: ${#fields.errors('*')}" th:text="${err}"></p>
      </div>
      <label>Month and Year : </label>
      <input type="month" th:field="*{monthYear}" />
      <button type="submit" class="button">Search</button>
    </form>
    
    <div th:if="${not #lists.isEmpty(eventsList)}">
      <h2>Events</h2>
      <ul>
        <li th:each="event: ${eventsList}">
          <h3 th:text="${event.getTitle()}"></h3>
          <table>
            <tr>
              <td>Organizer</td>
              <td th:text="${event.getEventOrganizer().getUsername()}"></td>
            </tr>
            <tr>
              <td>Description</td>
              <td th:text="${event.getDescription()}"></td>
            </tr>
            <tr>
              <td>Date and Time</td>
              <td th:text="${#temporals.format(event.getDateOfEvent(), 'MM-dd-yyyy hh:mm a')}"></td>
            </tr>
            <tr>
              <td></td>
              <td th:text="${event.isPublic() ? 'Public Event' : 'Private Event'}"></td>
            </tr>
            <tr>
              <td></td>
              <td th:text="${event.isComplete() ? 'Event Finished' : 'Event Upcoming'}"></td>
            </tr>
          </table>
          <div th:if="${showEditDelete}">
            <button th:attr="onclick=|window.location='/edit-calendar-event/${event.getId()}'|">
              Edit
            </button>
            <form th:action="@{/delete-calendar-event/{id}/(id=${event.getId()})}" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <input type="submit" value="Delete">
            </form>
          </div>
        </li>
      </ul>
    </div>
    
    <div th:if="${not #lists.isEmpty(entriesList)}">
      <h2>Diary Entries</h2>
      <ul>
        <li th:each="entry: ${entriesList}">
          <h3 th:text="${entry.getTitle()}"></h3>
          Date: <span th:text="${#temporals.format(entry.getDateOfEntry(), 'MM/dd/yyyy')}"></span><br/>
          <p th:text="${entry.getEntry()}"></p>
          <div th:if="${showEditDelete}">
            <button th:attr="onclick=|window.location='/edit-diary-entry/${entry.getId()}'|">
              Edit
            </button>
            <form th:action="@{/delete-diary-entry/{id}/(id=${entry.getId()})}" method="POST">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="hidden" name="_token" value="{{ csrf_token() }}">
              <input type="submit" value="Delete">
            </form>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
