<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Plan My Day - Register User</title>
  </head>
  <body>
  	<div align="right">
  	  <a href="/login">Log Into Account</a>
  	</div>
    <h1 align="center">Register New User</h1>
<!--     <input type="date" /> -->
<!--     <input type="time" /> -->
    <form th:action="@{/register/}" th:object="${registerDto}" th:method="POST">
      <div align="center" th:if="${#fields.hasErrors('*')}">
        <p th:each="err: ${#fields.errors('*')}" th:text="${err}"></p>
      </div>
      <table align="center">
        <tr>
          <td></td>
          <td><input type="email" placeholder="Email" th:field="*{email}" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="text" placeholder="Username" th:field="*{username}" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="password" placeholder="Password" th:field="*{password}" /></td>
        </tr>
        <tr>
          <td><label>Date of Birth</label></td>
          <td><input type="date" placeholder="Date of Birth" th:field="*{date_of_birth}" /></td>
        </tr>
      </table>
      <div align="center">
      	<input type="checkbox" th:field="*{tos_agree}"/> <label>I have read and agree to the <a href="/register/termsofservice" target="_blank" rel="noopener noreferrer">Terms of Service</a>.</label>
      	<br/>
        <button type="submit" class="button">Submit</button>
      </div>
    </form>
  </body>
</html>