<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <title>Plan My Day - Register User</title>
  </head>
  <body>
  	<div align="right">
  	  <a href="/login">Log Into Account</a>
  	</div>
    <h1 align="center">Register New User</h1>
    <form th:action="@{/register/}" th:object="${registerDto}" th:method="POST">
      <div align="center" th:if="${#fields.hasErrors('*')}">
      	<ul>
        	<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
      </div>
      <div align="center">
<!--         <label>Email</label> -->
        <input type="email" placeholder="Email" th:field="*{email}" />
      </div>
      <div align="center">
<!--         <label>User Name</label> -->
        <input type="text" placeholder="Username" th:field="*{username}" />
      </div>
      <div align="center">
<!--         <label>Password</label> -->
        <input type="text" placeholder="Password" th:field="*{password}" />
      </div>
      <div align="center">
        <label>Date of Birth</label>
        <input type="date" placeholder="Password" th:field="*{password}" />
      </div>
      <div align="center">
        <button type="submit" class="button">Submit</button>
      </div>
    </form>
  </body>
</html>